* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  background: lightgray;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family: "outfit",sans-serif;
  font-style: normal;
  
}

.outer-box {
  background: white;
  width: 220px;
  height: 350px;
  border-radius: 18px;
}
.image-for-qr {
  width: 199px;
  height: 196px;
  margin-top: 13px;
  border-radius: 10px;
}
.outer-box h4 {
    margin: 10 10 10 10;
  margin: 10px;
  font-weight: bolder;
}
.outer-box p {
    margin: 10 10 10 10;
  font-size: 13.5px;
  color: rgb(71, 68, 68);
  align-content: center;
}
